* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) -22%, rgba(52,23,23,1) 0%, rgba(226,226,226,1) 100%);
    color:aquamarine;
    text-align: center;

}